p{
   background-color:#4d0000;
  }

a{
   text-decoration:none;
   color:#F9966B;
  }

h2{
    font-size:275%;
   }

th{
    font-size:250%;
   }

td{
    font-size:200%;
    color:#D2691E;
  }

h1{
    color:#B93B8F;
    }